<!--
  Generated template for the DetalheCompraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>detalheCompra</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item-sliding>
    <ion-item>
      dataCompra: "",
      <h2>{{compra?.dataCompra }}</h2>
      <p>parcelas: {{compra?.qtdParcelas}}</p>
    </ion-item>
  </ion-item-sliding>

  <ion-item>
    <h2>Itens</h2>
  </ion-item>

  <ion-item-sliding *ngFor="let i of itens">
    <ion-item>
      <h2>Item: {{i.item }}</h2>
      <p>Quantidade {{i.quantidade}}</p>
      <p>Preco: {{i.preco}}</p>
      <p>Total: {{i.total}}</p>
    </ion-item>
  </ion-item-sliding>

  <ion-item>
    <h2>Parcelas</h2>
  </ion-item>

  <ion-item-sliding *ngFor="let p of parcelas">
    <ion-item>
      <h2>Parcela: {{p.parcela }}</h2>
      <p>Preco: {{i.preco}}</p>
      <p>Vencimento {{p.vencimento}}</p>
      <p>Status: {{p.status == 0? 'pendente' : 'pago'}}</p>
    </ion-item>

   
  </ion-item-sliding>
</ion-content>