<!--
  Generated template for the DetalheCompraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Compra</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

   <ion-item-sliding>
    <ion-item>
      <h2>{{cliente?.nome }}</h2>
      <p>CPF: {{cliente?.cpf}}</p>
      <p>RG: {{cliente?.rg}}</p>
      <p>Bairro: {{cliente?.bairro}}</p>
      <p>Número: {{cliente?.numero}}</p>
      <p>Rua: {{cliente?.rua}}</p>
      <p>Quadra: {{cliente?.quadra}}</p>
      <p>Complemento: {{cliente?.complemento}}</p>
      <p>Telefone: {{cliente?.telefone}}</p>
    </ion-item>
  </ion-item-sliding>

  <ion-item>
    <h1>ITENS</h1>
  </ion-item>

  <ion-item-sliding *ngFor="let i of itens">
    <ion-item>
      <h2>Item: {{i.item }}</h2>
      <p>Quantidade {{i.quantidade}}</p>
      <p>Preco: {{i.preco | currency}}</p>
      <p>Total: {{i.preco * i.quantidade | currency}}</p>
    </ion-item>
  </ion-item-sliding>

  <ion-item>
    <h1>PARCELAS</h1>
  </ion-item>

  <ion-item-sliding *ngFor="let p of parcelas">
    <ion-item>
      <h2>Parcela: {{p.parcela }}</h2>
      <p>Preco: {{p.preco | currency}}</p>
      <p>Vencimento {{p.vencimento | date: 'dd/MM/yyyy'}}</p>
      <p>Status: {{p.status == 0? 'pendente' : 'pago'}}</p>
      <button *ngIf="p.status == 0" ion-button clear item-end (click)="pagar(p.id, p.preco)">Pagar</button>
    </ion-item>  
  </ion-item-sliding>
</ion-content>