<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      Combranças
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="cobranca">
      <ion-segment-button value="vencidos">
        Vencidos
      </ion-segment-button>
      <ion-segment-button value="hoje">
        Hoje
      </ion-segment-button>
      <ion-segment-button value="amanha">
        Amanhã
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="cobranca">
    <ion-list *ngSwitchCase="'vencidos'">
      <ion-item *ngFor="let p of parcelasVencidas">
        <h2>{{p?.nome}}</h2>
        <p>Bairro: {{p?.bairro}}</p>
        <p>Número: {{p?.numero}}</p>
        <p>Rua: {{p?.rua}}</p>
        <p>Quadra: {{p?.quadra}}</p>
        <p>Complemento: {{p?.complemento}}</p>
        <p>Telefone: {{p?.telefone}}</p>
        <h2>Parcela: {{p.parcela }}</h2>
        <p>Preco: {{p.preco | currency}}</p>
        <p>Vencimento {{p.vencimento}}</p>
        <button ion-button clear item-end (click)="selecionarCompra(p.idCompra)">Selecionar</button>
      </ion-item>
      <ion-item>

      </ion-item>

    </ion-list>
    <ion-list *ngSwitchCase="'hoje'">

      <ion-item *ngFor="let p of parcelas">
        <h2>{{p?.nome}}</h2>
        <p>Bairro: {{p?.bairro}}</p>
        <p>Número: {{p?.numero}}</p>
        <p>Rua: {{p?.rua}}</p>
        <p>Quadra: {{p?.quadra}}</p>
        <p>Complemento: {{p?.complemento}}</p>
        <p>Telefone: {{p?.telefone}}</p>
        <h2>Parcela: {{p.parcela }}</h2>
        <p>Preco: {{p.preco | currency}}</p>
        <p>Vencimento {{p.vencimento}}</p>
        <button ion-button clear item-end (click)="selecionarCompra(p.idCompra)">Selecionar</button>
      </ion-item>

    </ion-list>

    <ion-list *ngSwitchCase="'amanha'">
      <ion-item *ngFor="let p of parcelasAmanha">
        <h2>{{p?.nome}}</h2>
        <p>Bairro: {{p?.bairro}}</p>
        <p>Número: {{p?.numero}}</p>
        <p>Rua: {{p?.rua}}</p>
        <p>Quadra: {{p?.quadra}}</p>
        <p>Complemento: {{p?.complemento}}</p>
        <p>Telefone: {{p?.telefone}}</p>
        <h2>Parcela: {{p.parcela }}</h2>
        <p>Preco: {{p.preco | currency}}</p>
        <p>Vencimento {{p.vencimento}}</p>
        <button ion-button clear item-end (click)="selecionarCompra(p.idCompra)">Selecionar</button>
      </ion-item>

    </ion-list>
  </div>
</ion-content>